/* helpers */

.width-100 {
    width: 100%;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
}

.hidden {
    display: none;
}

.chevron-hidden {
    display: none!important;
}

.display-block {
    display: block;
}

.small-text-input {
    width: 70px;
}

.medium-small-text-input {
    width: 100px;
}

.medium-text-input {
    width: 120px;
}

.medium-large-text-input {
    width: 270px;
}

.large-text-input {
    width: 300px;
}

.padding-small {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-left-small {
    padding-left: 5px;
}

.padding-left-medium {
    padding-left: 15px;
}

.padding-top-small {
    padding-top: 7px;
}

.padding-top-medium-small {
    padding-top: 15px;
}

.margin-auto {
    margin: auto;
}

.margin-top-medium {
    margin-top: 30px;
}

.margin-left-small {
    margin-left: 7px;
}

.margin-small {
    margin-left: 5px;
    margin-right: 5px;
}


/* Pure CSS overriding */
.pure-form input[type=text]:focus {
    border-color: #82d926;
}

.pure-form input[type=password]:focus {
    border-color: #82d926;
}

.pure-u-1-16 {
    width: 5.5%;
}

#byline {
    display: inline;
}


/* Buttons */
.pure-button-primary {
    background-color: #68ad1f;
}

.pure-button-filter {
    font-size:14px;
    background-color: #82d926;
}


/* Page styles */

body {
    color: #415927;
}

#content {
    width: 600px;
    margin: 20px auto 30px auto;
}

#title {
    text-align: center;
}

#title h1 {
    font-size: 80px;
    text-align: center;
    color: #82d926;
    margin-bottom: 0;
}

.light-green {
    color: #a6ff4d;
}

#byline h4 {
    text-align: center;
    color: #68ad1f;
}

#daily-goal {
    background-color: #e6ffcc;
    text-align: center;
    border-radius: 10px;
    padding: 7px 0px 4px 0px;
    margin-top: 17px;
    color: #408000;
}

.over-limit {
    background-color: #ff8080!important;
    color: #990000!important;
}

#daily-goal-u {
    margin: 5px auto 5px auto;
}

.box-toggler-text {
    color: #68ad1f;
    padding-right: 10px;
    padding-top: 4px;
    font-size: 15px;
    text-align: right;
    cursor: pointer;
}

.dark-box {
    background-color: #bfff80;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0px 7px 0px;
    margin-top: 17px;
}

.dark-box .error-description{
    font-size: 12px;
}

#filters {
    background-color: #e6ffcc;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0px 2px 0px;
    margin-top: 17px;
    font-size: 14px;
}

#filters h4{
    margin: 5px 0 8px 0;
    color: #68ad1f;
}

#filters p {
    margin: 6px 0px 6px 0px;
}

#user-admin-box {
    background-color: #e6ffcc;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0px 2px 0px;
    margin-top: 17px;
    font-size: 14px;
}

.box-sizing {
    box-sizing: border-box;
}

.nested-intake {
    box-sizing: border-box;
    padding: 0 30px 0 22px;
    color: #678e3e;
    font-size: 13px;
}

.nested-intake .padding-left-medium{
    padding-left: 0;
}

.nested-intake .padding-top-small{
    padding-top: 12px;
}
